*{
    box-sizing: border-box;
}

.container-img {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 20px auto;
    border: 1px solid black;
}   

.contenedorInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme {
    width: 450px;
    height: 450px;
}

figure p{
    font-family: Roboto;
    font-size: 22px;
    color: white;
    word-break: break-all;
}

.texto-encima{
    width: 100%;
    bottom: 82%;
    position: absolute;
    text-align: center;
    padding: 0 15px;
}

.texto-debajo{
    width: 100%;
    top: 82%;
    position: absolute;
    text-align: center;
    padding: 0 15px;
}