*{
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container-img {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 20px auto;
}   

.contenedorInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
}

.inputs input{
    margin: 0 5px;
}

.inputText{
    padding: 4px;
}

.contenedorControles, .meme {
    width: 450px;
    height: 450px;
}

figure p{
    font-family: Roboto;
    font-size: 22px;
    color: white;
    word-break: break-all;
}

.texto-encima{
    width: 100%;
    bottom: 82%;
    position: absolute;
    text-align: center;
    padding: 0 15px;
}

.texto-debajo{
    width: 100%;
    top: 82%;
    position: absolute;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 900px) {
    .contenedor{
        flex-direction: column;
    }

    .container-img {
        height: 400px;
    }   
    
    .contenedorControles, .meme {
        height: 400px;
    }
}
